<% if !user_signed_in?%> <!--if user not signed in-->
  <div class ="jumbotron">
    <h2> Your favourite movies previewed </h2>
    <p> wise....</p>
    <p><%= link_to "Sign up to write A Review", new_user_registration_path, class: "btn btn-primary btn-lg"%> </p>
  </div>
<% end %>

<div class ="container">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <%= link_to (image_tag movie.image.url(:large), class:'image'), movie %>
        </div>
      </div>
    <% end %> 
  </div>

</div>
