/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "utilities";

 body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}


.review_title{
 	margin: 0 0 20px 0;
 }
.reviews{
 	padding: 15px 0;
 	border-bottom: 1px solid #EAEAEA;
 	.star-rating{
 		padding-bottom: 8px;
 	}
 }

.form-item {
    color: #888;
    background: #F9F9F9;
    border: 10% solid #D4D4D4;
    box-shadow: -1px 1px #F2F2F2;
    padding: 5%;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove #DBE9F4;
    width: 20%;
    background-color: #DBE9F4;

} 

legend{
  color: black;
  width: 60%;
  margin-top:10%;
  margin-left: 20%;
}
form{
  
}