/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "utilities";

 body{
 background-color: white;
 }

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}


 .review_title{
 	margin: 0 0 20px 0;
 }
 .reviews{
 	padding: 15px 0;
 	border-bottom: 1px solid #EAEAEA;
 	.star-rating{
 		padding-bottom: 8px;
 	}
 }

.form-item {
    color: #888;
    background: #F9F9F9 none repeat scroll 0% 0%;
    border: 1px solid #D4D4D4;
    box-shadow: -1px 1px #F2F2F2;
    padding: 7px 10px 9px;
}